[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marko = "==1.2.0"
pydash = "*"
requests = "*"
backoff = "*"

[dev-packages]
pytest-watch = "==2.0.0"
pytest-cov = "*"
notion-client = "*"
pandas = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
